.item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.item-card img {
  max-width: 100%;
  max-height: 70%; 
  object-fit: contain;
}

.item-name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.swipe-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.swipe-left,
.swipe-right {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.swipe-left {
  color: red;
}

.swipe-right {
  color: green;
}

  
  
  