.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.login-input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: seagreen;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


